body {
  margin: 0;
  background-color: #333333;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}
 .block
{
   position: absolute;
   overflow: auto;
   width: 500px;
   min-height: 250px;
   left: 50%;
   top: 50%;
   margin-left: -250px;
   margin-top: -225px;
   padding: 10px;
}
.title {
  font-size: 100px;
  text-shadow: 0px 0px 10px black;
  color: #D70000;
}
.title2 {
  font-size: 30px;
  text-shadow: 0px 0px 10px black;
  padding-top: 10px;
}

.photo {
  border-radius: 10px;
  box-shadow: 0px 0px 8px black;
}
#bottom {
  position: absolute;
  bottom: 2px;
  text-align: center;
  font-size: 14px;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}