body {
  margin: 0;
  background-color: #333333;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}
 .block
{
   position: relative;
   overflow: hidden;
   width: 800px;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 0px 0px 10px black;
   background-color: #444444;
}
.name {
  font-size: 30px;
  font-weight: bold;
}
.top {
  padding: 4px 10px;
  background-color: #0C0C0C;
  border-bottom: 1px solid #555555;
}
.opt1 {
  width: auto;
  text-align: center;
}
 .opt_hr_top {
  background-color: black;
  padding: 5px 10px;
  margin: 0px 5px;
  border: 1px solid #333333;
  font-size: 13px;
  -webkit-transition:All 0.6s;
 -moz-transition:All 0.6s;
 -o-transition:All 0.6s;
 transition:All 0.6s;
}
.opt_hr_top:hover {
background-color: #555555;
text-decoration: none;
-webkit-transition:All 0.3s;
-moz-transition:All 0.3s;
-o-transition:All 0.3s;
transition:All 0.3s;
}
.opt_hr_top:active {
background-color: #333333;
box-shadow: inset 0px 0px 10px black;
border: 1px solid #303030;
}
.opt_act_top {
  background-color: #222222;
  padding: 5px 10px;
  margin: 0px 5px;
  border: 1px solid black;
  font-size: 13px;
  color: #AAAAAA;
  border: 1px solid #333333;
}
.main {
  margin: 15px;
}
.gr {
  background-color: #009900;
}
.red {
  background-color: #990000;
}
.gold {
  background-color: #B8860B;
}

.gr, .red, .gold {
  width: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  text-shadow: 1px 1px 2px black;
}
table {
  width: 100%;
}
#bottom {
  position: absolute;
  bottom: 2px;
  left: 4px;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
.lurkmore {
  opacity: 0.7;
}
.lurkmore:hover {
  opacity: 1;
}
.search {
  float: right;
  padding-right: 15px;
}
#search {
  padding: 5px 15px;
  opacity: 0.8;
  background-color: black;
  border: 1px solid #333333;
  font-size: 16px;
  color: white;
}
.notice {
  margin: 10px;
  background-color: #333333;
  border-radius: 10px;
  padding: 20px;
}
.notice2 {
  margin: 10px;
  background-color: #003300;
  border-radius: 5px;
  padding: 7px;
  font-size: 14px;
  border: 1px solid black;
  text-shadow: 1px 1px 3px black;
}
.post {
  margin: 10px;
  background-color: #111111;
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 14px;
  display: block;
  position: relative;
}
.post:hover {
  background-color: black;
  text-decoration: none;
}
.end {
color: #CCCCCC;
font-size: 14px;
text-shadow: 0px 0px 2px black;
margin: 5px;
}
#topnav {
  display:none;
  position:fixed;
  top:0px;
  height: 60px;
  padding: 0;
    background-color: #000000;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#000000));
        background-image: -webkit-linear-gradient(top, #444444, #000000);
        background-image: -moz-linear-gradient(top, #444444, #000000);
        background-image: -ms-linear-gradient(top, #444444, #000000);
        background-image: -o-linear-gradient(top, #444444, #000000);
        background-image: linear-gradient(top, #444444, #000000);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='#000000');
  width: 900px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 0px 10px black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  min-width: 700px;
  right: 50%;
  margin-right: -450px;
}
.title2 {
  width: 25%;
  padding: 10px;
  font-size: 25px;
  text-shadow: 1px 1px 5px black;
  font-weight: bold;
  cursor: pointer;
}
.opt {
  text-align: center;
  font-size: 13px;
}
.opt_hr {
  background-color: #444444;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0px 5px;
  border: 1px solid #222222;
}
.opt_hr:hover {
background-color: #555555;
}
.opt_hr:active {
background-color: #333333;
box-shadow: inset 0px 0px 10px black;
border: 1px solid #303030;
}
.opt_act {
  background-color: #333333;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0px 5px;
  box-shadow: inset 0px 0px 10px black;
   border: 1px solid #303030;
}
input:focus {
     outline: none;
}